html,body {
	width:100%;
	height:100%;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	font-size: 13px;
}

body {
	display:flex;
	flex-flow: column;
}

header {
	width:100%;
	height: 64px;
	color:white;
	background-color:#55cc11;
}

a {
	text-decoration:none;
	color:black;
	font-weight:bold;
}

header img {
	height: 75%;
	width: auto;
}

.header-container,
.page {
	max-width:1000px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.header-container {
	width:97%;
	height:100%;
	display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items:center;
}

header .branding {
	margin-left:0;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:space-between
}

header .branding >* {
	flex: 1 1 auto;
	 margin: .125em;
}

.path-div {
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 5px;
	padding: 2.5px 15px;
	width: calc(100vw - 52px);
	background-color: #eef;
}
.path {
	font-family: Monospace;
}
.content {
	border-style: solid;
	border-color: #000;
	border-width: 1px;
	border-radius: 2.5px;
	width: 100%;
	min-height: 75vh;
}
.file-item,
.dir-item {
/* 	font-family: Monospace; */
	margin: 0;
	padding: 10px 20px;
	font-size:1.25em;
	margin-top: 2.5px;
	
	border-radius: 20px ;
}

.dir-item:hover,
.file-item:hover {
	background-color:#efefef;
	
}

.list {
	padding-top: 10px;
	display: flex;
	flex-flow: column;
}
.clone {
	border-radius: 2.5px 2.5px 0 0;
	padding: 2.5px 10px;
	width: calc(100vw - 44px);
}
.code {
	color: #000;
	background-color: #ddd;
	height: 16px;
	padding: 10px;
	border-radius: 0 0 2.5px 2.5px;
	width: calc(100vw - 42px);
}
.code > code {
	vertical-align: middle;
}
.error {
	color: #d00;
}
.teapot {
	font-size: 75%;
}
.err-page p {
	font-size: 14px;
}

*,
*::before,
*::after {
  transition: all 0.3s ease;
}
